{% extends 'admin/base.html' %}

{% block title %}Admin Main Page{% endblock %}

{% block content %}
<!-- Add your main page content here -->
<div class="col-md-3 col-sm-6 col-12">
    <div class="info-box bg-info">
        <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Categorías</span>
            <span class="info-box-number">{{ total_categories }}</span>
            <div class="progress">
                <div class="progress-bar bg-success" style="width: {{ active_percentage }}%"></div>
                <div class="progress-bar bg-danger" style="width: {{ inactive_percentage }}%"></div>
            </div>
            <span class="progress-description">Activas: {{ active_categories }}</span>
            <span class="progress-description">Inactivas: {{ inactive_categories }}</span>
            <a href="{% url "shop_categories" %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
