{% extends 'admin/shop/form.html' %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Nombre:</label>
        <input type="text" name="name" maxlength="255" required="" id="id_name" class="form-control" value="{{ object.name }}">
    </div>

    <div class="form-group">
        <label for="id_description">Descripción:</label>
        <textarea name="description" cols="40" rows="10" maxlength="1000" id="id_description" class="form-control">{{ object.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="id_price">Precio:</label>
        <input type="number" name="price" min="0" step="0.01" required id="id_price" class="form-control" value="{{ object.price }}">
    </div>

    <div class="form-group">
        <label for="id_stock">Stock:</label>
        <input type="number" name="stock" min="0" required id="id_stock" class="form-control" value="{{ object.stock }}">
    </div>

    <div class="form-group">
        <label for="id_gallery">Galería:</label>
        <select name="gallery" id="id_gallery" class="form-control">
            <option value="" {% if not object.gallery %}selected{% endif %}>Ninguna</option>
            {% for gallery in galleries %}
            <option value="{{ gallery.pk }}" {% if object.gallery_id == gallery.pk %}selected{% endif %}>{{ gallery.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="id_category">Categoría:</label>
        <select name="category" id="id_category" class="form-control">
            <option value="" {% if not object.category %}selected{% endif %}>Ninguna</option>
            {% for category in categories %}
            <option value="{{ category.pk }}" {% if object.category_id == category.pk %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="id_tags">Etiquetas:</label>
        <select name="tags" id="id_tags" class="form-control" multiple>
            {% for tag in tags %}
            <option value="{{ tag.pk }}" {% if tag in object.tags.all %}selected{% endif %}>{{ tag.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="id_is_active">¿Está activo?:</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="is_active" id="id_is_active" class="custom-control-input" {% if object.is_active %}checked{% endif %}>
            <label class="custom-control-label" for="id_is_active">Activar/desactivar</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ action }}</button>
</form>
{% endblock %}
