{% extends 'admin/shop/list.html' %}

{% block head %}
<!-- Agrega los archivos CSS de Select2 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block form %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name_description">Nombre o Descripción:</label>
            <input type="text" class="form-control" id="name_description" name="name_description">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price-range">Precio:</label>
            <div class="slider slider-horizontal">
                <div class="slider-track">
                    <div class="slider-track-low" style="left: 0%; width: 25%;"></div>
                    <div class="slider-selection" style="left: 25%; width: 31.25%;"></div>
                    <div class="slider-track-high" style="right: 0%; width: 43.75%;"></div>
                </div>
                <div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="-100" style="left: 25%;" tabindex="0"></div>
                <div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="25" style="left: 56.25%;" tabindex="0"></div>
            </div>
            <input type="text" id="price-range" name="price_range" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" style="display: none;" data-value="-100,25">
        </div>
        <div class="form-group">
            <label for="stock-range">Existencias:</label>
            <input type="text" id="stock-range" name="stock_range" value="" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="id_label_multiple">Categorías:</label>
            <select class="js-example-basic-multiple js-states form-control select2-hidden-accessible" id="id_label_multiple" multiple="" aria-hidden="true">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                    <option value="AK">Alaska</option>
                    <option value="HI">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                    <option value="CA">California</option>
                    <option value="NV">Nevada</option>
                    <option value="OR">Oregon</option>
                    <option value="WA">Washington</option>
                </optgroup>
                <!-- Agrega más opciones de categorías según sea necesario -->
            </select>
        </div>
        <div class="form-group">
            <label for="tags">Etiquetas:</label>
            <span id="tags" class="form-control select2-selection--multiple" multiple="multiple">
                <!-- Opciones de etiquetas -->
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="start_date">Fecha de inicio:</label>
            <input type="date" id="start_date" name="start_date" class="form-control">
        </div>
        <div class="form-group">
            <label for="end_date">Fecha de fin:</label>
            <input type="date" id="end_date" name="end_date" class="form-control">
        </div>
    </div>
</div>
{% endblock %}


{% block table %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>Categoría</th>
            <th>Etiquetas</th>
            <th>Fecha de Creación</th>
            <th>Última Actualización</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.category }}</td>
            <td>
                {% for tag in product.tags.all %}
                    {{ tag.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ product.created_at }}</td>
            <td>{{ product.updated_at }}</td>
            <td>
                <!-- Aquí puedes agregar enlaces para editar o eliminar el producto -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Inicializa Select2 para convertir el select en un dropdown multiseleccionable
        $('.js-example-basic-multiple').select2({
            placeholder: 'Selecciona una o varias categorías',
            allowClear: true // Permite borrar la selección
        });
    });
</script>
{% endblock %}
