{% extends 'admin/shop/list.html' %}

{% block form %}
{% endblock %}

{% block table %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>{{ tag.description }}</td>
            <td>
                <!-- Add action buttons here -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    // Add any custom scripts here
</script>
{% endblock %}
