{% extends 'admin/shop/list.html' %}

{% block form %}
<div class="row mb-3">
    <div class="col-md-4">
        <label for="search-input">Nombre o descripción:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="search-input" placeholder="Buscar por nombre o descripción">
        </div>
    </div>
    <div class="col-md-2">
        <label for="search-state">Estado:</label>
        <select class="form-control" id="search-state">
            <option value="">Todos los estados</option>
            <option value="1" selected>Activo</option>
            <option value="0">Inactivo</option>
        </select>
    </div>
</div>
{% endblock %}

{% block table %}
    {% include "shop/category/table.html" %}
{% endblock %}


{% block scripts %}
<script>
    var csrfToken = '{{ csrf_token }}';
    $(document).ready(function () {
        $('#search-input, #search-state').on('input change', function () {
            // Obtener datos del formulario
            var query = $('#search-input').val();
            var state = $('#search-state').val();

            // Enviar datos al servidor usando AJAX
            $.ajax({
                type: 'GET',
                url: "{% url 'category_filtered' %}",
                data: {
                    'q': query,
                    'state': state
                },
                success: function (data) {
                    // Actualizar la tabla con los resultados recibidos
                    $('#table-container').html(data.html);
                }
            });
        });
    });

    function changeCategoryStatus(button) {
        var btn = $(button);
        var url = btn.data('url');
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                csrfmiddlewaretoken: csrfToken, // Usa la variable global de CSRF token
            },
            success: function(data) {
                // Recargar la tabla después de cambiar el estado
                $('#search-input, #search-state').trigger('change');
            },
            error: function(xhr, status, error) {
                // Manejo básico de errores, deberías mejorar este manejo
                alert("Ha ocurrido un error: " + error);
            }
        });
    }
</script>
{% endblock %}