<table class="table">
    <thead>
        <tr>
            <th data-sortable="true">Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.is_active | yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'shop_categories_edit' category.id %}" class="btn btn-sm btn-primary">Editar</a>
                <button class="btn btn-sm {{ category.is_active|yesno:'btn-danger,btn-success' }}"
                    data-url="{% url 'shop_categories_activate' category.id %}"
                    onclick="changeCategoryStatus(this);">
                    {{ category.is_active|yesno:'Desactivar,Activar' }}
                </button>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
