<!-- Esta plantilla es la base para que se listen todos los modelos -->
{% extends 'admin/base.html' %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}
{{ title }} List | Shop
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">Lista de {{ shop_title }}</h3>
                        <div class="ml-auto">
                            {% if show_add_button %}
                            <a href="{{ add_url_variable }}" class="btn btn-primary">Añadir {{ shop_title }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block form %}
                    <!-- Add your main page content here -->
                    {% endblock %}
                    <div id="table-container">
                        {% block table %}
                        <!-- Add your main page content here -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}