<!DOCTYPE html>
<html lang="en">

<head>
    {% include "base/head.html" %}
    <title>{% block title %}{% endblock %} | Mobipro's Admin Page</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {% include "base/navbar.html" %}
        <!-- /.navbar -->


        <!-- Main Sidebar Container -->
        <!-- /.sidebar -->
        {% include "base/sidebar.html" %}
        <!-- /.sidebar-custom -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            {% include "base/header.html" %}
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="card-title">{% block shop_title %}{% endblock %}</h3>
                                            <div class="ml-auto">
                                                {% block actions %}
                                                <!-- Add any additional actions buttons here -->
                                                {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {% block form %}
                                        <!-- Add your main page content here -->
                                        {% endblock %}
                                        {% block table %}
                                        <!-- Add your main page content here -->
                                        {% endblock %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {% include "base/footer.html" %}
    </div>
    <!-- ./wrapper -->

    <!-- AdminLTE JS -->
    {% block scripts %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>

</html>